## Core latex/pdflatex auxiliary files:
aux/
*.aux
*.lof
*.fol
*.log
*.lot
*.fls
*.out
*.toc
*.cot

## Intermediate documents:
*.dvi
*.xdv
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
.refresh

## Auxiliary and intermediate files from other packages:

# algorithms
*.alg
*.loa

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# hyperref
*.brf

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc0

# minted
*.pyg

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# todonotes
*.tdo

# xindy
*.xdy

# changebar
*.cb
*.cb2

# patching-related
*.orig
*.rej
*.diff

# Temporary, cache, swap files
\#\#*
*.swp
*.bkp

# Files which "ask" to be hidden
*~
#.*
unused/
delme/


## Additional ignores for this repository

# archives
*.zip
*.tar.*




thesis.pdf
